*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: blue;
}

.section{
    border: 1px solid white;
    border-radius: 10px;
    height: 70vh;
    width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 50px 0;
    background: #166FE5;
}

.form div{
    align-items: center;
}

.form p{
    color: white;
    font-weight: bold;
    font-size: 1.50em;
    padding: 0px 20px;
    text-align: start;
}

.container-item{
    display: flex;
    justify-content: center;
}

h1{
    border-bottom: 1px solid #166FE5;
    font-size: 2.25em;
    font-weight: bold;
    margin: 10px;
    color: white;
}

p{
    width: 100px;
}

.empresa{
    width: 360px;
}

.ddd{
    width: 150px;
}

.telefone{
    width: 150px;
}

.email{
    width: 360px;
}

input{
    width: 150px;
    padding: 1rem;
    border: none;
    border: 2px solid #166FE5;
    border-radius: 15px;
}

.container-item p, input{
    margin: 10px 10px;
}

.select{
    width: 390px;
    padding: 1rem;
    border: none;
    border: 2px solid #166FE5;
    border-radius: 15px;
}

.btn{
    padding: 1rem;
    width: 180px;
    border: none;
    border: 2px solid #166FE5;
    border-radius: 15px;
    margin: 25px 0px;
}